#chriharu {
  font-family: "Pacifico", cursive;
  overflow-x: hidden;
  overflow-y: hidden;
}
#chriharu .box {
  background-image: url(../images/extra/schildpad-lichaam.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}
#chriharu .box .schildpad-hoofd img {
  position: absolute;
  bottom: -67%;
  width: 130%;
  z-index: -1000;
  transform: rotate(180deg);
}
#chriharu .box .schildpad-ledematen {
  position: absolute;
  width: 120vw;
  height: 10vh;
}
#chriharu .cocktail .cocktail-bg {
  background-image: url(../images/cocktail/cocktail-bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  background-size: cover;
  height: 300vh;
  width: 100%;
  z-index: -10;
}
#chriharu .volcano .volcano-bg {
  background-image: url(../images/vulcano/vulcano-bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  background-size: cover;
  height: 130vh;
  width: 100%;
  z-index: -10;
  margin-top: -1rem;
}
#chriharu .beach .beach-water {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 37%;
  width: 100%;
  z-index: 20;
}
#chriharu .beach .waterdrops {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 150%;
  z-index: 200;
}
#chriharu .beach h2 {
  text-decoration: dashed;
  color: #FFC300;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 4rem;
  font-size: xxx-large;
  position: relative;
  z-index: 100;
}
#chriharu .beach .beach-bg {
  background-image: url(../images/beach/beach-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-size: cover;
  z-index: -10;
  top: 0;
}
#chriharu .underwater .underwater-bg {
  background-image: url(../images/underwater/blended-water.png);
  background-repeat: no-repeat;
  background-position: center top 5%;
  position: relative;
  background-size: cover;
  height: 300vh;
  width: 100%;
  z-index: -10;
  margin-top: -1rem;
}
#chriharu .underwater .fish {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 7rem;
  position: absolute;
  width: 100%;
  height: 100%;
}
#chriharu .underwater .fish .swim-to-left {
  object-fit: contain;
  animation: swim-to-left 2s linear infinite;
  height: 5%;
}
#chriharu .underwater .fish .swim-to-right {
  object-fit: contain;
  animation: swim-to-right 2s linear infinite;
  height: 5%;
}
@keyframes swim-to-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%) rotate(-20deg);
  }
}
@keyframes swim-to-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
#chriharu .turtle-land h1 {
  font-size: 4rem;
  font-weight: 200;
  color: rgb(192, 239, 254);
  text-shadow: 4px 4px 8px rgb(0, 0, 0);
  text-align: center;
  position: absolute;
  z-index: 100;
  top: 20%;
  left: 35%;
}
#chriharu .turtle-land .turtle-land-bg {
  background-image: url(../images/extra/Turtle-land.png);
  background-repeat: no-repeat;
  background-position: center right;
  position: relative;
  background-size: cover;
  width: 100%;
  height: 130vh;
  z-index: 1;
  margin-top: -1rem;
}

/* 
font-family: 'Pacifico', cursive;  --> deze font gebruikt (cursief)
font-family: 'Rubik Puddles', cursive; --> bubbly, niet ingevuld
font-family: 'Smokum', cursive; 
*//*# sourceMappingURL=chriharu.css.map */